<?xml version="1.0"?>

<launch>
  <param name="intel_aero" command="$(find xacro)/xacro --inorder '$(find intel_aero)/urdf/model_base.xacro'" />
  <param name="use_gui" value="True"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" />
</launch>
