<?xml version="1.0"?>
<launch>
  <arg name="namespace" default="intel_aero" />
  <node name="vision" pkg="perception" type="detector_node.py" output="screen">
    <remap from="camera" to="/camera/color/image_raw/compressed"/>
    <param name="config_path" value="$(find perception)/model/training_config.yaml"/>
    <param name="gp_model_path" value="$(find perception)/model/gate_pose_estimator.json"/>
    <param name="d_weights_path" value="$(find perception)/model/detector_weights.h5"/>
    <param name="gp_weights_path" value="$(find perception)/model/gpesti_weights.h5"/>
    <param name="target_size" value="300,225"/>
  </node>
</launch>

