<?xml version="1.0"?>

<model>
  <name>Intel Aero Absolute Paths</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Theo Morales</name>
    <email>theo.morales.fr@gmail.com</email>
  </author>

  <description>
    Intel Aero drone with everything. Only works by specifying the meshes' absolute paths!
  </description>
</model>
